@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(20% 0 0);
	--color-base-200: oklch(20% 0 0);
	--color-base-300: oklch(20% 0 0);
	--color-base-content: oklch(84% 0.238 128.85);
	--color-primary: oklch(84% 0.238 128.85);
	--color-primary-content: oklch(20% 0 0);
	--color-secondary: oklch(20% 0 0);
	--color-secondary-content: oklch(84% 0.238 128.85);
	--color-accent: oklch(20% 0 0);
	--color-accent-content: oklch(84% 0.238 128.85);
	--color-neutral: oklch(20% 0 0);
	--color-neutral-content: oklch(84% 0.238 128.85);
	--color-info: oklch(20% 0 0);
	--color-info-content: oklch(84% 0.238 128.85);
	--color-success: oklch(20% 0 0);
	--color-success-content: oklch(84% 0.238 128.85);
	--color-warning: oklch(20% 0 0);
	--color-warning-content: oklch(84% 0.238 128.85);
	--color-error: oklch(20% 0 0);
	--color-error-content: oklch(84% 0.238 128.85);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
  }  
  
:root {
	--base-size: 16px;

	font-family: 'Source Code Pro', monospace;
	font-size: var(--base-size);
}

