@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baskervville', serif;
}