@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --color-bittersweet-50: oklch(97.47% 0.01 24.32);
  --color-bittersweet-100: oklch(94.65% 0.03 26.18);
  --color-bittersweet-200: oklch(90.29% 0.05 27.19);
  --color-bittersweet-300: oklch(83.83% 0.09 26.76);
  --color-bittersweet-400: oklch(72.26% 0.17 29.18);
  --color-bittersweet-500: oklch(69.84% 0.17 29.64);
  --color-bittersweet-600: oklch(62.62% 0.20 30.55);
  --color-bittersweet-700: oklch(56.27% 0.20 30.91);
  --color-bittersweet-800: oklch(49.24% 0.17 30.69);
  --color-bittersweet-900: oklch(43.87% 0.14 30.56);
  --color-bittersweet-950: oklch(28.47% 0.09 30.82);  

  --color-tuatara-50: oklch(95.79% 0.00 106.42);
  --color-tuatara-100: oklch(88.81% 0.00 106.43);
  --color-tuatara-200: oklch(78.26% 0.00 0.00);
  --color-tuatara-300: oklch(62.31% 0.00 106.44);
  --color-tuatara-400: oklch(42.73% 0.00 106.47);
  --color-tuatara-500: oklch(32.47% 0.00 106.50);
  --color-tuatara-600: oklch(29.28% 0.00 106.51);
  --color-tuatara-700: oklch(26.82% 0.00 106.52);
  --color-tuatara-800: oklch(24.74% 0.00 106.53);
  --color-tuatara-900: oklch(21.30% 0.00 106.56);
  --color-tuatara-950: oklch(18.22% 0.00 0.00);  

  --color-pearl-bush-50: oklch(99.16% 0.00 67.80);
  --color-pearl-bush-100: oklch(97.85% 0.01 97.35);
  --color-pearl-bush-200: oklch(96.40% 0.01 91.48);
  --color-pearl-bush-300: oklch(94.04% 0.01 88.69);
  --color-pearl-bush-400: oklch(91.50% 0.02 81.33);
  --color-pearl-bush-500: oklch(92.47% 0.02 77.07);
  --color-pearl-bush-600: oklch(86.12% 0.02 69.56);
  --color-pearl-bush-700: oklch(75.94% 0.04 64.67);
  --color-pearl-bush-800: oklch(66.35% 0.05 58.58);
  --color-pearl-bush-900: oklch(58.26% 0.05 60.36);
  --color-pearl-bush-950: oklch(36.71% 0.03 52.28);  

  --color-fruit-salad-50: oklch(98.07% 0.02 154.48);
--color-fruit-salad-100: oklch(95.99% 0.04 157.43);
--color-fruit-salad-200: oklch(91.93% 0.07 156.91);
--color-fruit-salad-300: oklch(85.72% 0.12 155.88);
--color-fruit-salad-400: oklch(77.68% 0.16 153.27);
--color-fruit-salad-500: oklch(69.39% 0.17 151.20);
--color-fruit-salad-600: oklch(59.63% 0.15 151.02);
--color-fruit-salad-700: oklch(50.68% 0.12 152.02);
--color-fruit-salad-800: oklch(43.24% 0.10 152.74);
--color-fruit-salad-900: oklch(37.96% 0.08 154.38);
--color-fruit-salad-950: oklch(25.80% 0.05 155.60);
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-pearl-bush-50);
  --color-base-200: var(--color-pearl-bush-100);
  --color-base-300: var(--color-pearl-bush-200);
  --color-base-content: var(--color-tuatara-500);
  --color-primary: var(--color-fruit-salad-500);
  --color-primary-content: var(--color-tuatara-500);
  --color-secondary: var(--color-pearl-bush-500);
  --color-secondary-content: var(--color-tuatara-500);
  --color-accent: var(--color-tuatara-500);
  --color-accent-content: var(--color-pearl-bush-50);
  --color-neutral: var(--color-pearl-bush-500);
  --color-neutral-content: var(--color-tuatara-500);
  --color-info: var(--color-sky-300);
  --color-info-content: var(--color-sky-900);
  --color-success: var(--color-lime-300);
  --color-success-content: var(--color-lime-900);
  --color-warning: var(--color-orange-300);
  --color-warning-content: var(--color-orange-900);
  --color-error: var(--color-red-300);
  --color-error-content: var(--color-red-900);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: var(--color-tuatara-900);
  --color-base-200: var(--color-tuatara-700);
  --color-base-300: var(--color-tuatara-500);
  --color-base-content: var(--color-pearl-bush-200);
  --color-primary: var(--color-fruit-salad-500);
  --color-primary-content: var(--color-tuatara-500);
  --color-secondary: var(--color-pearl-bush-500);
  --color-secondary-content: var(--color-tuatara-500);
  --color-accent: var(--color-tuatara-500);
  --color-accent-content: var(--color-pearl-bush-50);
  --color-neutral: var(--color-pearl-bush-500);
  --color-neutral-content: var(--color-tuatara-500);
  --color-info: var(--color-sky-300);
  --color-info-content: var(--color-sky-900);
  --color-success: var(--color-lime-300);
  --color-success-content: var(--color-lime-900);
  --color-warning: var(--color-orange-300);
  --color-warning-content: var(--color-orange-900);
  --color-error: var(--color-red-300);
  --color-error-content: var(--color-red-900);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


:root {
	font-family: "Ubuntu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

@layer base {
	h1 {
		@apply text-xl font-bold leading-none;
	}

	h2 {
		@apply text-lg font-semibold leading-none;
	}

	h3 {
		@apply text-base font-medium leading-none;
	}

	h4 {
		@apply text-base font-normal leading-none;
	}

	h5 {
		@apply text-sm font-light leading-none;
	}

	ul {
		@apply list-disc list-inside;
	}

	ol {
		@apply list-decimal list-inside;
	}

	li {
		@apply indent-2;
	}

	input {
		width: unset;
		min-width: unset;
	}
}

@layer components {
	.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
		@apply backdrop-blur;
	}
}
